.input-form{
    display: flex;
    flex-direction: column;
}


.input-form input{
    
    width: 15rem;
    content: '$';
    height: 1.6rem;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    text-align: right;
    padding-right: 1rem;
    border-radius: 5px;
}