.card1 {
  background-color: white;
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
}

.top-form{
  margin-top: 20px;
  padding: 5px;
  flex: 1;
}

.top-form::before{
  content: 'Bill';
  text-transform: capitalize;
  font-weight: 700;
  color: hsl(184, 14%, 56%);
  margin-bottom: 1rem;

}

.top-form input{
  background: hsl(189, 41%, 97%) url(./images/icon-dollar.svg) left no-repeat;

}

.bottom-form {
  margin-bottom: 20px;
  flex: 1;
}


.bottom-form::before{
  content: 'Number of People';

  text-transform: capitalize;
  font-weight: 700;
  color: hsl(184, 14%, 56%);
  margin-bottom: 1rem;
}

.bottom-form input{
  background: hsl(189, 41%, 97%) url(./images/icon-person.svg) left no-repeat;

}

@media (min-width: 650px) {

  .card1 {
    flex-direction: row;
    width:600px;
    /* height: 500px; */
    padding: 5px;
    justify-content: space-evenly;
  }
  
  .input-wrapper {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .result-wrapper{
    /* width: 50%; */
    padding: 10px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
  }

}